/* google font poppins import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');

:root {
  --body-color: hsl(30, 8%, 8%);
  --container-color: hsl(48, 9%, 11%);
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: var(3.5rem) 0 0 0;
  font-family: 'Poppins', sans-serif;
  font-size: .938rem;
  background: var(--body-color);
  color: #DAD8D7;
}

h1,h2,h3,h4{
  color: #FFFFFF;
  font-weight: 600;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

button,
input{
  border: none;
  outline: none;
}

button{
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: .938rem;
}

.section{
  padding: 4.5rem 0 2rem;
}

.section_title{
  font-size: 1.25rem;
  margin-bottom: 2rem;
  text-align: center;
}

.container{
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid{
  display: grid;
}

.main{
  overflow: hidden;
}

/* Navbar Styling */

.header{
  width: 100%;
  background: var(--body-color); 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav{
  height: var(3.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo{
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: 500;
}

.nav_logo-img{
  width: 1.25rem;
}

.nav_link,
.nav_logo,
.nav_toggle,
.nav_close{
  color: #FFFFFF;
}

.nav_item:hover
{
  color: red;
}

.nav_toggle{
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px){
  .nav_menu{
    position: fixed;
    width: 100%;
    background: var(--container-color);
    top: -150%;
    left: 0;
    padding: 3.5rem 0;
    transition: .4s;
    z-index: 100;
    border-radius: 0 0 1.5rem 1.5rem;
  }
}

.nav_img{
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.nav_close{
  font-size: 1.8rem;
  position: absolute;
  top: .5rem;
  right: .7rem;
  cursor: pointer;
}

.nav_list{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

.nav_link{
  text-transform: uppercase;
  font-weight: 900;
  transition: .4s;
}

.nav_link:hover{
  color: red;
}

.show-menu{
  top: 0;
}